<h2>Template: <small>Dinamicos</small> </h2>
<hr>

<form (ngSubmit)="guardar()" #dinamicForm="ngForm" autocomplete="off">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [ngModel]="persona.nombre" name="nombre" required
                placeholder="Nombre de la persona">
            <span class="text-danger" *ngIf="validarNombre()">Este campo es obligatorio</span>
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" (keyup.enter)="agregarJuego()" [(ngModel)]="nuevoJuego"
                    name="nuevo" required placeholder="Agregar Favorito">
                <button class="btn btn-outline-primary" type="button" (click)="agregarJuego()">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <!-- Lista de Juego Favoritos -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group" *ngFor="let juego of persona.favoritos; let i = index">
                <input [(ngModel)]="juego.nombre" name="favorito_{{ i }}" required type="text"
                    class="form-control mb-1">
                <button class="btn btn-outline-danger mb-1" type="button" (click)="eliminar( i )">Eliminar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" [disabled]="dinamicForm.invalid" class="btn btn-primary float-end"
                (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Persona</span>
<pre>{{ persona | json }}</pre>